<div id="login">
  <h1>Welcome Back!</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">

    <div class="field-wrap">
      <label for="email">
        Email Address<span class="req">*</span>
      </label>
      <div>
        <input id="email" type="email" formControlName="email" (input)="defineLabelState($event)"/>
        <div *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid" class="errors">
          <ul>
            <li *ngIf="loginForm.get('email').hasError('required')">{{requiredMsg}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="field-wrap">
      <label for="password">
        Password<span class="req">*</span>
      </label>
      <div>
        <input id="password" type="password" formControlName="password" (input)="defineLabelState($event)"/>
        <div *ngIf="loginForm.get('password').touched && loginForm.get('email').invalid" class="errors">
          <ul>
            <li *ngIf="loginForm.get('password').hasError('required')">{{requiredMsg}}</li>
          </ul>
        </div>
      </div>
    </div>

    <button [disabled]="loginForm.invalid" class="button button-block">Log In</button>

  </form>
</div>
